<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoraDesbugar</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>

<header>
    <img src="../static/imagens/joaninha-de-jardim.png" alt="Logo BoraDesbugar" class="logo">
    <h1>BoraDesbugar</h1>

    <nav>
        <ul class="nav-links">
            <li><a href="#">Início</a></li>
            <li><a href="#">Objetivos</a></li>
            <li><a href="#">Dúvidas</a></li>
        </ul>
    </nav>
</header>

<body>

    <p>Sejam bem-vindos ao BoraDesbugar!</p>

    <p>Aqui esclareceremos as dúvidas mais frequentes para aqueles que estejam entrando nesse novo mundo da tecnologia!
    </p>

    <div>
        <img src="../static/imagens/imagem_1.jpg" alt="Imagem inicio" class="imagem-inicio">
    </div>
    <br>

    <p>Mas antes queremos apresentar a visão e o objetivo de nosso projeto</p>

    <div>
        <ul>
            <li>
                <img src="../static/imagens/usuario.png" alt="Usuario" class="usuario">
                <p>Respeitar as diferenças de cada usuário e esclarecerde forma simples e direta todos os
                    questionamentos.</p>
            </li>
            <li>
                <img src="../static/imagens/redeprivada.png" alt="Rede Privada" class="redeprivada">
                <p>Apresentar a importância da navegação segura na internet prevenindo golpes cibernéticos.</p>
            </li>
            <li>
                <img src="../static/imagens/batepapo.png" alt="Bate-Papo" class="batepapo">
                <p>Além disso, a troca de informações e a comunicação mais enxuta para entendimento de todos e repassar
                    o conhecimento devidamente. </p>
            </li>
        </ul>
    </div>

    <ol>
        <li>
            <label for="first">Me ligaram se passando por gerente do meu banco, mas nem tenho conta lá, fui
                hackeado(a)?</label>
            <input type="radio" id="first" name="duvida" checked>
            <div>
                <p>
                    Não. A primeira coisa a se fazer em uma situação como essa é bloquear qualquer número suspeito de
                    sua lista telefônica e por precaução mude a senha da sua conta para não dar brecha à golpes.
                </p>
            </div>
        </li>
        <li>
            <label for="second">Não param de mandar várias mensagens no meu e-mail, como faço pra cancelar elas?</label>
            <input type="radio" id="second" name="duvida" checked>
            <div>
                <p>
                    Simples, você deve ir nas configurações do seu aplicativo de e-mail, procurar por restrições e
                    bloquear qualquer tipo de e-mail suspeito.
                </p>
            </div>
        </li>
        <li>
            <label for="third">Uma semana depois que eu cadastrei minha senha em um aplicativo perdi o acesso, o que
                aconteceu?</label>
            <input type="radio" id="third" name="duvida" checked>
            <div>
                <p>
                    Primeiro, entre em contato com o suporte do aplicativo, e peça o bloqueio do acesso de outros
                    aparelhos e mudar a senha. </p>
            </div>
        </li>
        <li>
            <label for="fourth">Caí num golpe do mercadão daqui da cidade, prometeram entregar prêmios para quem se
                cadastrar e divulgar no link, e agora? </label>
            <input type="radio" id="fourth" name="duvida" checked>
            <div>
                <p>
                    Nunca repasse suas informações pessoais e sempre busque os sites oficiais pra tais promoções e
                    divulgações, a princípio denuncie. </p>
            </div>
        </li>
        <li>
            <label for="fifth"> Tenho vários apps de “tigrinho” no meu celular, mas aparece tanto anúncio e trava muito,
                como diminuir isso?</label>
            <input type="radio" id="fifth" name="duvida" checked>
            <div>
                <p>
                    Recomendamos que exclua a conta e delete todos esses aplicativos, principalmente se foram baixados
                    em fontes duvidosas. </p>
            </div>
        </li>
        <li>
            <label for="sixth">O que posso fazer para que fique antenado(a) com a proteção de meus dados pessoais?
            </label>
            <input type="radio" id="sixth" name="duvida" checked>
            <div>
                <p>
                    Deixe seu aparelho sempre atualizado nas ultimas versões para que a proteção e a segurança estejam
                    funcionando perfeitamente. </p>
            </div>
        </li>
    </ol>
</body>

</html>